<center class="mt-5">
    <h1>¡Parece que hubo un error!</h1>
    <h3>Lastimosamente no pudimos reservar la mesa que deseabas, te pedimos que pruebes de nuevo, si el problema persiste llama</h3>
    <a class="btn btn-outline-dark mt-3" asp-action="Index">Regresar</a>
</center>