<div class="container">
    <div class="d-flex align-items-center flex-column">
        <div class="container col-lg-4 col-md-6">
            <form>
                <div class="text-center">
                    <h3>Reserva de Mesa</h3>
                </div>
                <div class="mb-3">
                    <label for="nombreApellido" class="form-label">Nombre y Apellido</label>
                    <input type="text" class="form-control" id="nombreApellido" name="nombreApellido" required>
                </div>
                <div class="mb-3">
                    <label for="contacto" class="form-label">Contacto</label>
                    <input type="tel" class="form-control" id="contacto" name="contacto" required>
                </div>
                <div class="mb-3">
                    <label for="correo" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="correo" name="correo" required>
                </div>
                <div class="mb-3">
                    <label for="fechaReserva" class="form-label">Fecha de Reserva</label>
                    <input type="datetime-local" class="form-control" id="fechaReserva" name="fechaReserva" required>
                </div>
                <div class="mb-3">
                    <label for="mesa" class="form-label">Cantidad de personas</label>
                    <select class="form-select" id="mesa" name="mesa" required>
                        <option value="0" hidden>Seleccione cantidad de persona</option>
                        <option value="Mesa 1">1</option>
                        <option value="Mesa 2">2</option>
                        <option value="Mesa 3">3</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Enviar Reserva</button>
                </div>

            </form>
        </div>
    </div>
</div>