<center class="mt-5">
    <h1>¡Reserva agendada correctamente!</h1>
    <h3>Revisa tu correo electronico para tener constancia de la reserva</h3>
    <a class="btn btn-outline-dark mt-3" asp-action="Index">Regresar</a>
</center>