@model CrearCuentaViewModel

@{
    Model.PersonaACargo = Model != null && Model.Reserva != null ? Model.Reserva.PersonaACargo : "";
}

<div class="container">
    <div class="d-flex align-items-center flex-column">
        <div class="container col-lg-4 col-md-4">
            <form asp-action="Asignar" asp-controller="Comedor" method="post">
                @Html.HiddenFor(x=>x.Mesa.Id)
                @Html.HiddenFor(x=>x.Mesero.Id)
                <div class="mb-3">
                    <label for="numeroMesa" class="form-label">Número de Mesa:</label>
                    <input type="text" class="form-control" asp-for="Mesa.NombreMesa" disabled>
                </div>
                <div class="mb-3">
                    <label for="nombreAtiende" class="form-label">Nombre de quien Atiende:</label>
                    <input type="text" class="form-control" asp-for="Mesero.Nombre" disabled>
                </div>
                <div class="mb-3">
                    <label for="nombreComensal" class="form-label">Nombre del Comensal a Cargo:</label>
                    <input type="text" class="form-control" asp-for="PersonaACargo" required>
                </div>
                <div class="mb-3">
                    <label for="cantidadPersonas" class="form-label">Cantidad de Personas:</label>
                    <input type="number" class="form-control" asp-for="CantidadPersonas" min="1" max="@Model.Mesa.Personas" required>
                </div>
                <div class="mb-3">
                    <label for="fechaAsignacion" class="form-label">Fecha de Asignación:</label>
                    <input type="text" class="form-control" asp-for="FechaDeAsignacion" disabled>
                </div>
                <button type="submit" class="btn btn-primary">Asignar Mesa</button>
            </form>
        </div>
    </div>
</div>